/*!CK:2825038231!*//*1404706113,*/

.sp_Sylr2VfHXQ3{background-image:url(/rsrc.php/v2/yW/r/nFgUajDTB7K.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Sylr2VfHXQ3.sx_a952b3{background-position:0 0}.sp_Sylr2VfHXQ3.sx_31ad04{background-position:0 -17px}

#bootloader_f08B7 { height: 42px; }
.bootloader_f08B7 { display:block !important; }