/*!CK:996013117!*//*1404702376,*/

._g2f .FriendRequestAdd,._g2f .FriendRequestOutgoing{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:125px}._g2g{display:block}._g2h ._g2i{margin-top:5px;overflow:hidden}._g2j{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:143px}._g2l{margin-left:134px;margin-top:5px;position:absolute}._g2h{border-left:1px solid #e5e5e5;margin-bottom:7px;max-width:143px;padding-left:9px;padding-right:9px;vertical-align:top;white-space:normal}

#bootloader_grveQ { height: 42px; }
.bootloader_grveQ { display:block !important; }