/*!CK:2279011364!*//*1404726509,*/

.sp_myXadhoi4ve{background-image:url(/rsrc.php/v2/yd/r/7TjlfEbU38b.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_myXadhoi4ve.sx_a0372f{background-position:0 -21px}.sp_myXadhoi4ve.sx_75c51c{background-position:0 -38px}.sp_myXadhoi4ve.sx_e07a48{width:20px;height:20px;background-position:0 0}.sp_myXadhoi4ve.sx_ce8757{background-position:0 -55px}

#bootloader_AAEZo { height: 42px; }
.bootloader_AAEZo { display:block !important; }