/*!CK:2247054658!*//*1404702376,*/

.UFIBlingBoxNFBIcon{background-image:url(/rsrc.php/v2/yT/r/sJheZnRkw9N.png);background-repeat:no-repeat;background-size:auto;background-position:0 -109px;display:inline-block;height:13px;width:15px}

#bootloader_a6oud { height: 42px; }
.bootloader_a6oud { display:block !important; }