/*!CK:301214209!*//*1404702379,*/

.sp_ow9V1qE_Y7-{background-image:url(/rsrc.php/v2/yN/r/mctzL25JFEy.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_ow9V1qE_Y7-.sx_9e025a{background-position:0 0}.sp_ow9V1qE_Y7-.sx_290c30{background-position:0 -17px}

#bootloader_6g_5q { height: 42px; }
.bootloader_6g_5q { display:block !important; }