/*!CK:2516189575!*//*1404257688,*/

.sp_NzioqdaCAR-{background-image:url(/rsrc.php/v2/yd/r/azhApnC1HAV.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_NzioqdaCAR-.sx_8ef3eb{background-position:0 -52px}.sp_NzioqdaCAR-.sx_5b44a0{background-position:-17px -52px}.sp_NzioqdaCAR-.sx_0f00b6{width:34px;height:34px;background-position:0 0}.sp_NzioqdaCAR-.sx_db66a8{width:26px;background-position:0 -35px}

#bootloader_dirk3 { height: 42px; }
.bootloader_dirk3 { display:block !important; }