/*!CK:240781090!*//*1404702376,*/

.sp_U_8qadf52sC{background-image:url(/rsrc.php/v2/yq/r/Y-JHSbIHBOW.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_U_8qadf52sC.sx_771de9{background-position:0 0}.sp_U_8qadf52sC.sx_7bf0e8{background-position:0 -17px}.sp_U_8qadf52sC.sx_000884{background-position:0 -34px}.sp_U_8qadf52sC.sx_a822aa{background-position:0 -51px}

#bootloader_cpJXF { height: 42px; }
.bootloader_cpJXF { display:block !important; }